#main{
    min-height: 300vh;
    max-height: 500vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

#body {
    max-width: 925px;
    width: 65%; /* Default to 95% width */
    height: 100vh;
    position: relative;
    z-index: 1;
    /*border-left: 1px solid rgba(103, 103, 104, 0.219);
    border-right: 1px solid rgba(103, 103, 104, 0.219);*/
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.329);
    margin-left: 18%;
}

#profile{
    width: 89%;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

#profileHeader{
    width: 100%;
    height: 46%;
    display: flex;
    flex-direction: column-reverse;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgba(10, 10, 10, 0.608);
    border: 2px solid rgba(90, 89, 89, 0.17);
    border-bottom: none;
}

#loader {
    width: 88.7%; /* Initially set width to 0% */
    height: 3px;
    background: #067a0b;
    position: absolute;
    z-index: 3;
}

#profile:hover #profileHeader{
    background: linear-gradient(135deg, #1b1b1d00 85%,   rgba(48, 121, 97, 0.016));

}


#profileImage{
    height: 139px;
    width: 139px;
    border: 1px dotted rgba(240, 248, 255, 0.032);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    
}

#image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profileBody{
    height: 38%;
    width: 100%;
    background-color: rgb(10, 10, 10);
    background: linear-gradient(135deg, rgb(2, 2, 2) 1%,   rgb(10, 10, 10));
    /*border: 2px solid rgba(90, 89, 89, 0.295);*/
    border-right: 2px solid rgba(90, 89, 89, 0.17);
    border-left: 2px solid rgba(90, 89, 89, 0.17);
    border-bottom: 2px solid rgba(90, 89, 89, 0.17);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px;
    padding-left: 40px;
    font-size: .96rem;
}

#profileTitle{
    color: aliceblue;
    margin-bottom: 5px;
    
}

@media (min-width: 925px) {
    #body {
        width: 65%; /* Fixed width for larger screens */
    }

    #description{
        margin-top: 0px;
        margin: 0px;
    }
}


#selector{
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#socials{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-right: 25px;
}

#social{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 4px;
}
#socials a{
    color: aliceblue;
    margin-bottom: 5px;
}

#socials h6{
    margin-top: 3px;
    font-size: .96rem;
}

#selectorText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

#selectorText:hover{
  text-decoration: underline;
}

#selectedText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    text-decoration: underline;
}

#descriptionText{
    text-align: center;
}

#socials {
    
}



#titleLine{
    display: flex;
    flex-direction: row;
}



@media (max-width: 494px) {
    #selectedText{
        font-size: 1rem
    }
    #selectorText{
        font-size: 1rem;
    }

    #socials{
        margin-right: 10px;
    }

    #profileBody{
        padding-left: 10px;
    }

    #text{
        font-size: .444rem;
    }

    #social h6{
        font-size: .5rem ;
    }
}


#information{
    width: 100%;
    border: 2px solid rgba(90, 89, 89, 0.17);
    padding: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 6px;
    background: linear-gradient(135deg, rgb(2, 2, 2) 1%,   rgb(10, 10, 10));
}

#information:hover{
    background-color: rgb(11, 11, 11);
}

#about{
 color: aliceblue;
}

#about h3{
    text-align: center;
}

#about p{
    color: rgba(240, 248, 255, 0.5);
}

#documents h3{
  text-align: left;
}

#search{
    width: 21%;
    height: 48px;
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
    position: relative;
    z-index: 1;
    margin-top: 12px;
    border: 2px solid rgba(90, 89, 89, 0.884);
    cursor: pointer;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    padding-right: .9%;
}

#search button{
height: 100%;
}

#searchIcon{
    height: 70%;
    width: 70%;
    position: relative;
    left: 5px;
    color: rgba(90, 89, 89, 0.884);
}

#searchInput{
    background-color: transparent;
    height: 46px;
    width: 90%;
    padding-bottom: 3px;
    color: aliceblue;
    outline: transparent;
}


#text{
    color: rgba(247, 243, 243, 0.562);
}

#documentSection{
    display: flex;
    flex-direction: row;
}

#transcriptSection{
    width: 50%;
}

#sectionText{
    font-size: .79rem;
    display: flex;
    flex-direction:column;
    gap: 3px;
}

#entry{
    height: 20px;
    display: inline-flex;
    gap: 5px;
    font-size: .95rem;
}


#sectionText a{
    text-decoration: solid;
}

@media (max-width: 885px) {

    #profile{
        margin-top: 35%;
    }

    #profileHeader{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #profileImage{
        max-height: 180px;
        max-width: 180px;
        margin-bottom: 0px;
        margin-left: 0%;
    }

    #selector{
        gap: clamp(5px, 11px, 22px);
    }

    #social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #socials{
        margin-bottom: 0;
        margin-right: 0;
    }

    #selectorText{
        font-size: 1.44rem;
    }

    #selectedText{
        font-size: 1.44rem;
    }

    #loader{
        position: relative;
        margin-top: 10px;
        margin-left: 7px;
        width: 100%;
    }

    #profileTitle{
        font-size: clamp(1.6rem, 3.5vw, 1.5rem);
        margin-bottom: 0;
    }

    #text{
        font-size: clamp(.8rem, 2vw, 1.2rem);
        margin-bottom: 0;
    }

    #social{
        font-size: clamp(.8rem, 2.3vw, 1.3rem);
    }

    #social h6{
        font-size: clamp(.8rem, 2.3vw, 1.3rem);
    }

    #social a{
        margin-bottom: 0;
    }

    #editProfile{
        font-size: clamp(.6rem, 1.7vw, 1.2rem);
        height: 36px;
        width:56px;
        position: relative;
        right: 0;
    }

    #documentSection{
        display: flex;
        flex-direction: column;
    }
    

    #transcriptSection{
        width: 100%;
    }

    #entry{
        flex-direction: row;
    }
    
    #loader{
        width: 101%;
        margin-right: 6px;
    }
}


#inner{
    border: 2px solid aliceblue;
    width: 100%;
    padding: 20px;
    border: 2px solid rgba(90, 89, 89, 0.17);
    border-radius: 1px;
    background: linear-gradient(135deg, rgba(10,10,10,255),   rgba(35,32,35,255));;
    height: max-content;
}

#modalBacking{
    height: 300vh;
    width: 100vw;
    background-color: rgba(222, 225, 225, 0.359);
    position: absolute;
    overflow: hidden;
    z-index: auto;
    display:flex ;
    justify-content: center;
}