#inputStyle {
    z-index: 5;
    position: relative;
    background-color: rgba(192, 189, 189, 0);
    color: aliceblue;
    border: none;
    outline: none;
    line-height: 40px;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 10.250px;
    box-shadow: none;
    width: 85%;
    z-index: 7;
    pointer-events: auto;
}

#inputDiv {
    display: flex;
    border: 1px solid rgba(90, 89, 89, 0.295);
    border-top: 3px solid rgba(159, 158, 158, 0.5);
    margin: 3px;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
    z-index: 2;
    position: relative;
    background-color: #1B1B1D;
    transition: box-shadow 0.1s ease-in-out;
    overflow: visible;
    width: 100%;
    margin-left: auto;
    pointer-events: auto;
}

#inputDiv::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: rgba(63, 151, 122, 0.333);
    transition: width 0.3s ease, left 0.3s ease;
    border-radius: 4px;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    pointer-events: none;
}

#inputDiv:hover::after {
    width: 100%;
    left: 0;
}

#inputDiv.inputClicked {
    border: 1px solid rgba(63, 151, 122, 0.249);
    border-top: 3px solid rgba(63, 151, 122, 0.662);
}

#inputDiv.inputClicked::after {
    display: none;
}

#inputDivError {
    display: flex;
    border: 1px solid rgba(90, 89, 89, 0.295);
    border-top: 3px solid rgba(151, 63, 63, 0.662); /* Red border-top */
    margin: 3px;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
    z-index: 4;
    position: relative;
    background-color: #1B1B1D;
    transition: box-shadow 0.1s ease-in-out;
    overflow: visible;
    margin-left: auto;
    width: 100%;
    pointer-events: auto;
}

#inputDivError::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: rgba(121, 48, 48, 0.333);
    transition: width 0.3s ease, left 0.3s ease;
    border-radius: 4px;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    pointer-events: none;
}

#inputDivError:hover::after {
    width: 100%;
    left: 0;
}

#inputDivError.inputClicked {
    border: 1px solid rgba(151, 63, 63, 0.249);
    border-top: 3px solid rgba(151, 63, 63, 0.662);
}

#inputDivError.inputClicked::after {
    display: none;
}

#inputStyle:-webkit-autofill,
#inputStyle:-webkit-autofill:hover, 
#inputStyle:-webkit-autofill:focus, 
#inputStyle:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none;
}

#iconHolder {
    width: 28px;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(159, 158, 158, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(192, 189, 189, 0.17);
    z-index: 2;
    min-width: 28px;
}

#iconHolderError {
    min-width: 28px;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(159, 158, 158, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(192, 189, 189, 0.17);
    z-index: 2;
    border: 2px solid rgba(151, 63, 63, 0.416);
    background-color: rgba(134, 53, 53, 0.19);

}

#iconStyle {
    margin-bottom: 5%;
    color: aliceblue;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#iconStyleError {
    margin-right: 1.5%;
    margin-bottom: 5%;
    color: aliceblue;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: 1px;
}

#iconHolder:hover {
    border: 2px solid rgba(63, 151, 122, 0.416);
    background-color: rgba(53, 134, 107, 0.19);
    box-shadow: 0 0 5px rgba(53, 134, 107, 0.5), 0 0 20px rgba(53, 134, 107, 0.3), 0 0 30px rgba(53, 134, 107, 0.2);
}

#iconStyle:hover {
    color: rgb(77, 187, 150);
}

#iconStyleError:hover {
    color: rgb(187, 77, 77);
}

#glowEffect {
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: 1;
}

#glowEffectError {
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: 1;
}

#inputDiv.inputClicked #glowEffect {
    background: linear-gradient(to right, rgba(48, 121, 97, 0.153) 5%, rgba(48, 121, 97, 0) 95%);
}

#inputDivError.inputClickedError #glowEffectError {
    background: linear-gradient(to right, rgba(121, 48, 48, 0.153) 5%, rgba(121, 48, 48, 0) 95%);
}

#inputDiv.inputClicked #iconHolder {
    border: 1px solid rgba(240, 248, 255, 0.34);
}

#inputDiv.inputClickedError #iconHolderError {
    border: 1px solid rgba(240, 248, 255, 0.34);
}

#placeholder {
    position: absolute;
    color: rgb(159, 158, 158);
    top: 51%;
    left: 30.25%;
    transform: translate(0%, -50%);
    animation: translateYAnimation 0.5s forwards;
    z-index: 6;
    padding: 3px;
}

@keyframes translateYAnimation {
    from {
        transform: translate(0%, -50%);
    }
    to {
        transform: translate(0%, -135%);
    }
}

#errorText{
    position: absolute;
    color: rgba(151, 63, 63, 1);
    font-size: .60rem;
    font-weight: 800;
    z-index: 5;
    text-align: center;
    margin-left: 2px;
}

#Text{
    position: absolute;
    color: gray;
    font-size: .60rem;
    font-weight: 800;
    z-index: 5;
    text-align: center;
    margin-left: 2px;
}