#editProfile{
    width: 84px;
    height: 48px;
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
    z-index: 1;
    border: 2px solid rgba(90, 89, 89, 0.17);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-left: auto;
    margin-left: auto;
}

#editProfile:hover{
    background-color: rgb(40, 40, 40);
}

@media (max-width: 665px) {

    #editProfile{
        font-size: clamp(.6rem, 1.7vw, 1.2rem);
        height: 36px;
        width:56px;
        position: relative;
        right: 0;
    }

}
