#mainBannerText {
  color: aliceblue;
  min-width: fit-content;
  text-align: center;
  background-color: #18191C;
  margin-bottom: 0;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 411 / 548; /* Maintain the same proportion */
  max-width: 337px; /* Max width of the container */
  max-height: 307px; /* Max height of the container */
  width: 96vw; /* Width as a percentage of the viewport */
  height: 100%; /* Height will be calculated automatically based on aspect ratio */
  background: black;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid rgba(90, 89, 89, 0.295);
  transition: box-shadow 0.3s ease, border 0.3s ease;
  box-shadow: 0 4px 8px rgba(31, 17, 17, 0.2);
  position: relative;
  overflow: hidden;
  margin-bottom: 30%;
}


#main::before {
  content: '';
  position: absolute;
  top: 2;
  left: 2;
  height: 100px;
  width: 100px;
  background: radial-gradient(circle, rgba(48, 121, 97, 0.153), transparent, transparent);
  border-radius: 30%;
  transform: translate(-65%, -65%);
  transition: all 0.3s ease; /* Smooth transition for the effect */
  opacity: 0; /* Start with the glow hidden */
  padding-left: 4px;
}

#main:hover::before {
  height: 400px;
  width: 400px;
  transform: translate(-52%, -52%);
  opacity: 1; /* Show the glow on hover */
}

#main:hover {
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.4); /* Shadow effect on hover */
  border: 2px solid rgba(149, 149, 149, 0.295);
  background: black;
}

#tiles{
  display: grid;
  position: absolute;
  grid-template-rows: 18% 33% 33% 9%;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  height: 60%;
}

#tile1 {
  grid-row-start: 1;
  grid-row-end: 2; /* Corrected: end at row 2 */
  grid-column-start: 1;
  grid-column-end: 2; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile1:hover {
  background-color: rgba(48, 121, 97, 0.036);
}

#main:hover #tile1{
  border-bottom: 2px solid rgba(90, 89, 89, 0.17);
  border-right: 2px solid rgba(90, 89, 89, 0.17);
}

#tile2 {
  grid-row-start: 1;
  grid-row-end: 2; /* Corrected: end at row 2 */
  grid-column-start: 2;
  grid-column-end: 3; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  position: relative;
  z-index: 1;
}

#tile2:hover {
  background-color: rgba(48, 121, 97, 0.036);
}

#main:hover #tile2{
  border-bottom: 2px solid rgba(90, 89, 89, 0.17);
}

#tile3 {
  grid-row-start: 1;
  grid-row-end: 2; /* Corrected: end at row 2 */
  grid-column-start: 3;
  grid-column-end: 4; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile3:hover {
  
}

#main:hover #tile3{
  border-bottom: 2px solid rgba(90, 89, 89, 0.17);
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#tile4 {
  grid-row-start: 1;
  grid-row-end: 3; /* Corrected: end at row 2 */
  grid-column-start: 4;
  grid-column-end: 5; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile4:hover {
  background-color: rgba(48, 121, 97, 0.036);
}

#main:hover #tile4{
  z-index: 1;

}

#tile5 {
  grid-row-start: 2;
  grid-row-end: 3; /* Corrected: end at row 2 */
  grid-column-start: 1;
  grid-column-end: 2; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile5:hover {
  background-color: rgba(48, 121, 97, 0.036);
}

#main:hover #tile5{
  border-bottom: 2px solid rgba(90, 89, 89, 0.17);
  border-right: 2px solid rgba(90, 89, 89, 0.17);
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#tile6 {
  grid-row-start: 2;
  grid-row-end: 3; /* Corrected: end at row 2 */
  grid-column-start: 2;
  grid-column-end: 3; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile6:hover {
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#main:hover #tile6{
  border-bottom: 2px solid rgba(90, 89, 89, 0.17);
  z-index: 1;
}

#tile7 {
  grid-row-start: 2;
  grid-row-end: 3; /* Corrected: end at row 2 */
  grid-column-start: 3;
  grid-column-end: 4; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile7:hover {
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#main:hover #tile7{
  z-index: 1;
}

#tile8 {
  grid-row-start: 2;
  grid-row-end: 3; /* Corrected: end at row 2 */
  grid-column-start: 4;
  grid-column-end: 5; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile8:hover {
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#main:hover #tile8{
  z-index: 1;
}

#tile9 {
  grid-row-start: 3;
  grid-row-end: 4; /* Corrected: end at row 2 */
  grid-column-start: 1;
  grid-column-end: 2; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#main:hover #tile9{
  border-bottom: 2px solid rgba(90, 89, 89, 0.17);
  border-right: 2px solid rgba(90, 89, 89, 0.17);
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#tile10 {
  grid-row-start: 3;
  grid-row-end: 4; /* Corrected: end at row 2 */
  grid-column-start: 2;
  grid-column-end: 4; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile10:hover {
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#main:hover #tile10{
  border-bottom: 2px solid rgba(90, 89, 89, 0.17);
  z-index: 1;
}

#tile11 {
  grid-row-start: 3;
  grid-row-end: 4; /* Corrected: end at row 2 */
  grid-column-start: 3;
  grid-column-end: 4; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile11:hover {
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#main:hover #tile11{
  z-index: 1;
}

#tile12 {
  grid-row-start: 3;
  grid-row-end: 4; /* Corrected: end at row 2 */
  grid-column-start: 4;
  grid-column-end: 5; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile12:hover {
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#main:hover #tile12{
  position: relative;
  z-index: 2;

}

#tile13 {
  grid-row-start: 4;
  grid-row-end: 5; /* Corrected: end at row 2 */
  grid-column-start: 1;
  grid-column-end: 2; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
}

#tile13:hover {
  background-color: rgba(48, 121, 97, 0.036);
  z-index: 1;
}

#main:hover #tile13{
  position: relative;
}

#tile15 {
  grid-row-start: 4;
  grid-row-end: 5; /* Corrected: end at row 2 */
  grid-column-start: 3;
  grid-column-end: 4; /* Corrected: end at column 2 */
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1;
  height: 200%;
}

#tile15:hover {
  background-color: rgba(48, 121, 97, 0.036);
}


#loader{
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5;
  align-self: end;
  margin-right: 23px;
}

#main:hover #loader {
  animation: progress .3s linear forwards; /* Adjust duration (5s) as needed */
  z-index: 1;
}

@keyframes progress {
  0% {
      width: 0%;
      border: 1px solid rgba(90, 89, 89, 0.17); /* Starting color (e.g., coral) */
      z-index: 1;
  }
  100% {
      width: 100%;
      border: 1px solid rgba(90, 89, 89, 0.17); /* Ending color (e.g., deep sky blue) */
      z-index: 1;
  }
}

@keyframes progress3 {
  0% {
      width: 0%;
      border: 1px solid rgba(90, 89, 89, 0.17); /* Starting color (e.g., coral) */
      z-index: 1;
  }
  100% {
      width: 67%;
      border: 1.5px solid rgba(90, 89, 89, 0.09); /* Ending color (e.g., deep sky blue) */
      z-index: 1;
  }
}


#loader2{
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  align-self: end;
  margin-right: 23px;
}

#main:hover #loader2 {
  animation: progress .4s linear forwards; /* Adjust duration (5s) as needed */
}

#loader3{
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  align-self: end;
  margin-right: 23px;
}

#main:hover #loader3 {
  animation: progress3 .6s linear forwards; /* Adjust duration (5s) as needed */
}

#loader4{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  
}

#main:hover #loader4 {
  animation: progress2 .1s linear forwards; /* Adjust duration (5s) as needed */
}

@keyframes progress2 {
  0% {
      height: 0%;
      border-right: 2px solid rgba(90, 89, 89, 0.17); /* Starting color (e.g., coral) */
  }
  100% {
      height: 110%;
      border-right: 3px solid rgba(104, 103, 103, 0.11); /* Ending color (e.g., deep sky blue) */
  }
}

#loader5{
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

#main:hover #loader5 {
  animation: progress2 .3s linear forwards; /* Adjust duration (5s) as needed */
}

#loader6{
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

#main:hover #loader6 {
  animation: progress2 .3s linear forwards; /* Adjust duration (5s) as needed */
}

#mainBannerText{
  color: aliceblue;
  min-width: fit-content;
  text-align: center;
}

#titleText {
  color: aliceblue;
  font-size: 195%;
  text-align: center;
  z-index: 2;
}

#spanText{
  color: aliceblue;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;
}

#forgotDiv{
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 16%;
}