#main{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#body {
    max-width: 925px;
    width: 95%; /* Default to 95% width */
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    border-left: 1px solid aliceblue;
}



@media (min-width: 925px) {
    #body {
        width: 925px; /* Fixed width for larger screens */
    }
}

#profile{
    width: max;
    height: 170px;
    border: 2px solid rgba(90, 89, 89, 0.44);
    border-left: 2px solid rgba(90, 89, 89, 0.44);;
    border-radius: 7px;
    background-color: rgba(90, 89, 89, 0.14);
    box-shadow: 1px 1px 1px rgba(240, 248, 255, 0.164);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#profileImage{
    border-radius: 50%;
    height: 75%;
    padding: 0;
    position: relative;
    transform: translateY(16%);
    margin-left: 10px;
}

#titleText{
    height: 100%;
    width: 100%;
    padding-right: 5px;
}

#name{
    margin-top: 18px;
    color: aliceblue;
    font-size: 2.2rem;
    margin-bottom: 0;
}

#description{
    margin: 0;
    font-size: 1.1rem;
    color: aliceblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

#location{
    color: gray;
    margin-bottom: 4px;
}

#social{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#selector{
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#socials{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-right: 25px;
}
#socials a{
    color: aliceblue;
    margin-bottom: 5px;
}

#socials h6{
    margin-top: 2px;
    margin-left: 4px;
}

@media (max-width: 525px) {
    #profile {
        height:360px;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }


    #profileImage{
        border-radius: 50%;
        height: 190px;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
    }

    #titleText{
        text-align: center;
    }
    
    #name{
        margin-top: 5px;
        font-size: clamp(16px, 7vw, 10vw)
    }

    #description{
        font-size: clamp(15px, 3vw, 4vw)
    }

    #location{
        font-size: clamp(13px, 3vw, 3vw)
    }

    #selector{
        gap: clamp(5px, 15px, 22px);
    }

    #social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#selectorText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

#selectorText:hover{
  text-decoration: underline;
}

#selectedText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    text-decoration: underline;
}

#information{
    width: 100%;
    border: 2px solid rgba(90, 89, 89, 0.44);
    padding: 10px;
    background-color: rgba(90, 89, 89, 0.14);
    border-radius: 7px;
}

#about{
 color: aliceblue;
}

#about h3{
    text-align: center;
}

#about p{
    color: rgba(240, 248, 255, 0.5);
}

#documents{

}