#main{
    height: 200vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

#body {
    max-width: 925px;
    width: 65%; /* Default to 95% width */
    height: 100vh;
    position: relative;
    z-index: 1;
    /*border-left: 1px solid rgba(103, 103, 104, 0.219);
    border-right: 1px solid rgba(103, 103, 104, 0.219);*/
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.329);
    margin-left: 18%;
}

#profile{
    width: 89%;
    border-radius: 10px;
    margin-top: 1%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}

#profileHeader{
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: column-reverse;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(0, 0, 0, 0.863);
}

#loader {
    width: 0; /* Initially set width to 0% */
    height: 1px;
    background: #067a0b;
    position: relative;
    z-index: 1;
    transition: width .3s ease-in-out, background 0.3s ease; /* Smooth expansion and color transition */
    margin-right: 7px;
}

#profile:hover #profileHeader{
    background: linear-gradient(135deg, #1b1b1d00 85%,   rgba(48, 121, 97, 0.016));

}

#profile:hover  #loader{
    width: 100%; /* Expands to 100% width on hover */
    background: #067a0ccb; /* Slightly greener on hover */
}

#profileImage{
    height: 202px;
    width: 202px;
    border: 1px dotted rgba(240, 248, 255, 0.016);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    margin-left: 5%;
}

#image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profileBody{
    height: 58%;
    width: 100%;
    background-color: rgb(10, 10, 10);
    background: linear-gradient(135deg, rgb(2, 2, 2) 1%,   rgb(10, 10, 10));
    border-bottom: 1px solid rgba(90, 89, 89, 0.884);
    border-left: 1px solid rgba(90, 89, 89, 0.884);
    border-right: 1px solid rgba(90, 89, 89, 0.884);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (min-width: 925px) {
    #body {
        width: 65%; /* Fixed width for larger screens */
    }

    #description{
        margin-top: 0px;
        margin: 0px;
    }
}


#selector{
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#socials{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-right: 25px;
}
#socials a{
    color: aliceblue;
    margin-bottom: 5px;
}

#socials h6{
    margin-top: 2px;
    margin-left: 4px;
}

#selectorText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

#selectorText:hover{
  text-decoration: underline;
}

#selectedText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    text-decoration: underline;
}

@media (max-width: 665px) {

    #profile{
        margin-top: 35%;
    }

    #profileHeader{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profileImage{
        max-height: 180px;
        max-width: 180px;
        margin-bottom: 0px;
        margin-left: 0%;
    }

    #selector{
        gap: clamp(5px, 11px, 22px);
    }

    #social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #socials{
        margin-bottom: 0;
        margin-right: 0;
    }

    #selectorText{
        font-size: 1.44rem;
    }

    #selectedText{
        font-size: 1.44rem;
    }
}


@media (max-width: 494px) {
    #selectedText{
        font-size: 1rem
    }
    #selectorText{
        font-size: 1rem;
    }

}


#information{
    width: 100%;
    border: 1px solid rgba(90, 89, 89, 0.884);
    padding: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 3px;
}

#information:hover{
    background-color: rgb(11, 11, 11);
}

#about{
 color: aliceblue;
}

#about h3{
    text-align: center;
}

#about p{
    color: rgba(240, 248, 255, 0.5);
}

#documents{

}

#search{
    width: 21%;
    height: 48px;
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
    position: relative;
    z-index: 1;
    margin-top: 12px;
    border: 1px solid rgba(90, 89, 89, 0.884);
    cursor: pointer;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    padding-right: .9%;
}

#search button{
height: 100%;
}

#searchIcon{
    height: 70%;
    width: 70%;
    position: relative;
    left: 5px;
    color: rgba(90, 89, 89, 0.884);
}

#searchInput{
    background-color: transparent;
    height: 46px;
    width: 90%;
    padding-bottom: 3px;
    color: aliceblue;
    outline: transparent;
}
