

#main{
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;

}


#body {
    width: 100%;            /* Allows the body to scale with the window */
    max-width: 925px;        /* It will never be wider than 925px */
    min-width: 825px;        /* It will never be smaller than 600px */
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;          /* Centers the body */
    border-right: 2px solid rgba(90, 89, 89, 0.17);
    border-left: 2px solid rgba(90, 89, 89, 0.17);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.85) 85%, rgba(48, 121, 97, 0.16));
}

#profileContainer{
    position: relative;
    overflow: visible;
}

#header{
    height: 45px;
    width: 100%;

}


#selector{
    padding-top: 30px;
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#selectorText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

#selectorText:hover{
  text-decoration: underline;
}

#selectedText{
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    text-decoration: underline;
}


@media (max-width: 879px) {

    #selector{
        gap: clamp(5px, 11px, 22px);
    }

    #selectorText{
        font-size: 1.44rem;
    }

    #selectedText{
        font-size: 1.44rem;
    }

}

@media (max-width: 777px) {
    #selectedText{
        font-size: 1rem
    }
    #selectorText{
        font-size: 1rem;
    }

}


#modalBacking{
    height: 300vh;
    width: 100vw;
    background-color: rgba(222, 225, 225, 0.359);
    position: relative;
    overflow: hidden;
    z-index: auto;
    display:flex ;
    justify-content: center;
}


