.main{
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.body{
  flex: 1;              /* fills remaining width */
  height: 100vh;
  background-color: rgba(107, 107, 107, 0.359);
  
}
