#formMain{
    width: 332px;
    height: 100%;
    position: relative;
    z-index: 0;
}

#formStyle{
    height: 100%;
    width: 100%;
    position: relative;
    gap: 1px;
}

#newUserButton {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 32.33%;
    color: aliceblue;
    background-color: rgba(10, 10, 10);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid rgba(90, 89, 89, 0.295);
    animation: fadeInLeft 0.425s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

#newUserButton::after {
    content: "";
    position: absolute;
    top: 140%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(149, 149, 149, 0.082); /* Circle color */
    border-radius: 50%;
    transform: translate(-50%, -80%);
    transition: width 0.3s ease-in-out, height 0.8s ease-in-out;
    z-index: 2; 
}

#newUserButton:hover::after {
    width: 190%;
    height: 190%;
}

#newUserButton:hover{
    border: 2px solid rgba(175, 175, 175, 0.295);
    color: rgb(70, 209, 163);
}

@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

#buttonLeft{
    height: 100%;
    width: 2px;
    background-color: rgb(24, 61, 49);
    left: 0;
    position: absolute;
}

#glowEffectClass {
    width: 0%;
    position: absolute;
    height: 2px;
    background-color: rgb(15, 37, 30);
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
}

#newUserButton:hover #glowEffectClass {
    width: 100%;
}

#newUserMiddleButton {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 32.33%;
    border: 1px solid salmon;
    color: aliceblue;
    background-color: rgba(10, 10, 10);
    border: 2px solid rgba(90, 89, 89, 0.295);
    animation: fadeInLeft 0.225s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    overflow: hidden; /* Ensure the expanding circle stays within the button */
    border-bottom-right-radius: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 5px;
}

#newUserMiddleButton:hover #glowEffectClass {
    width: 100%;
}

#newUserMiddleButton::after {
    content: "";
    position: absolute;
    top: 140%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(149, 149, 149, 0.082); /* Circle color */
    border-radius: 50%;
    transform: translate(-50%, -80%);
    transition: width 0.3s ease-in-out, height 0.8s ease-in-out;
    z-index: 2; /* Behind text, but above background */
}

#newUserMiddleButton:hover::after {
    width: 190%; /* Adjust size to ensure it covers the button */
    height: 190%;
}

#newUserMiddleButton:hover{
    border: 2px solid rgba(175, 175, 175, 0.295);
    color: rgb(70, 209, 163);
}

#newUserButtonBottom {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 33.33%;
    border: 1px solid salmon;
    color: aliceblue;
    background-color: rgba(10, 10, 10);
    border: 2px solid rgba(90, 89, 89, 0.295);
    animation: fadeInLeft 0.225s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    overflow: hidden; /* Ensure the expanding circle stays within the button */
    border-bottom-right-radius: 15px;
    border-top-right-radius: 5px;
    
}

#newUserButtonBottom:hover #glowEffectClass {
    width: 100%;
}

#newUserButtonBottom::after {
    content: "";
    position: absolute;
    top: 140%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(149, 149, 149, 0.082); /* Circle color */
    border-radius: 50%;
    transform: translate(-50%, -80%);
    transition: width 0.3s ease-in-out, height 0.8s ease-in-out;
    z-index: 2; /* Behind text, but above background */
}

#newUserButtonBottom:hover::after {
    width: 190%; /* Adjust size to ensure it covers the button */
    height: 190%;
}

#newUserButtonBottom:hover{
    border: 2px solid rgba(175, 175, 175, 0.295);
    color: rgb(70, 209, 163);
}

#searchTitle{
    position: absolute;
}

#newUserButtonBottom:hover #searchTitle {
    animation: fadeOutLeft 0.425s ease-in-out forwards;
}

#newUserButtonBottom #searchTitle {
    animation: fadeInRight 0.425s ease-in-out forwards;
}

@keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(-200%);
    }
}

@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

#newUserButtonBottomClicked {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 33.33%;
    border: 1px solid salmon;
    color: aliceblue;
    background-color: rgba(10, 10, 10);
    border: 2px solid rgba(90, 89, 89, 0.295);
    animation: fadeInLeft 0.225s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    overflow: hidden; /* Ensure the expanding circle stays within the button */
    border-bottom-right-radius: 15px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(255, 217, 0, 0.075);
    z-index: 3;
}

#newUserButtonBottomClicked:hover #glowEffectClass {
    width: 100%;
}

#newUserButtonBottomClicked::after {
    content: "";
    position: absolute;
    top: 140%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(149, 149, 149, 0.082); /* Circle color */
    border-radius: 50%;
    transform: translate(-50%, -80%);
    transition: width 0.3s ease-in-out, height 0.8s ease-in-out;
    z-index: 2; /* Behind text, but above background */
}

#newUserButtonBottomClicked:hover::after {
    width: 190%; /* Adjust size to ensure it covers the button */
    height: 190%;
}

#newUserButtonBottomClicked:hover{
    border: 2px solid rgba(175, 175, 175, 0.295);
    color: rgb(70, 209, 163);
}

#inputDiv{
    width: 100%;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 2px;
    height: 100%;
    position: relative;
    z-index: 3;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px;
    transform: translateX(200%);
    opacity: 0;
}

#newUserButtonBottom:hover #inputDiv {
    animation: fadeInRight 1.225s ease-in-out forwards;
}

#newUserButtonBottom #inputDiv {
    /*animation: fadeOutLeft 0.225s ease-in-out forwards;*/
}

@keyframes fadeOutLeft2 {
    0% {
      opacity: 0;
      transform: translateX(200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

@keyframes fadeInRight2 {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(200%);
    }
}


#inputDivClicked{
    width: 100%;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 2px;
    height: 100%;
    position: relative;
    z-index: 3;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px;
    opacity: 1;
    animation: fadeInRight 1.225s ease-in-out forwards;
}

#searchButton{
    height: 28px;
    width: 28px;
    margin-left: 9px;
    top: 19%;
    z-index: 4;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
}