#main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 0;
}

#body {
    max-width: 925px;
    min-width: 925px;
    position: relative;
    z-index: 1;
    /*border-left: 1px solid rgba(103, 103, 104, 0.219);
    border-right: 1px solid rgba(103, 103, 104, 0.219);*/
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-right: 2px solid rgba(90, 89, 89, 0.17);
    border-left: 2px solid rgba(90, 89, 89, 0.17);
    /*background: linear-gradient(135deg, #1b1b1d00 85%,   rgba(48, 121, 97, 0.016));
    background-color: rgba(12, 12, 12, 0.63);*/
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

