.main {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.body {
  flex: 1;
  height: 100vh;
  background-color: rgba(107, 107, 107, 0.359);
  position: relative;

  display: flex;
  flex-direction: row;

  min-width: 0;
  overflow: hidden;
}

.calendarArea {
  flex: 1;
  min-width: 0;
  height: 100%;
  position: relative;
}

